#accord {
    cursor: pointer;
}

.enviarBtn {
    background-color: #FC4742;
}

.enviarBtn:hover {
    background-color: rgb(194, 51, 46);
}

.container-fluid {
    height: 100%;
}

.fas.fa-trash-alt {
    color: #FC4742;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    background-color: rgb(182, 215, 216) !important;
}